body {
  height: 100vh;
  background-color: #001F3F;
}
.container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
  border-radius: 10px; /* 둥근 모서리 적용 */
  padding: 1% 5% 5% 5%;
}

.container h1 {
  text-align: center;
  font-size: 3em;
}


.month {
  text-align: center;
  align-items: center;
  padding: 3%;
  background-color: rgba(240, 80, 70);
  border-radius: 5px 5px 0 0;
  color: #ffffff;
}

.month h2 {
  font-size: 2.5em;
}

.lower {
  border: 2px solid #CCCCCC;
  border-top: #ffffff00;
  border-radius: 0 0 5px 5px;
}

.weekdays {
  display: flex;
  flex-wrap: wrap;
}

.weekdays div{
  flex-wrap: nowrap; /* 줄바꿈 방지 */
  width: calc(100% / 7); /* 7개의 열로 나누어 날짜 정렬 */
  box-sizing: border-box;
  text-align: center;
  padding: 10px;

}

.dates {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
}

.date {
  width: calc(100% / 7); /* 7개의 열로 나누어 날짜 정렬 */
  box-sizing: border-box;
  text-align: center;
  padding: 10px;

}

.today {
  background-color: rgba(240, 80, 70);
  color: white;
}